@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base 
{
  * {
    @apply box-border;
  }
  
  html, body {
    @apply m-0 p-0 h-full w-full;
  }
  
  body {
    @apply font-sans antialiased overflow-x-hidden;
  }
  
  #root {
    @apply min-h-screen w-full h-full;
  }
}
